{% extends 'base.html.twig' %}

{% block title %}Iportfolio{% endblock %}

{% block body %}



<div class="row">
    <h2>LANGAGES</h2>
    {% for langage in langages %}

    <p>{{ langage.title }}</p>
    <p>{{ langage.niveau }}</p>

    {% endfor %}
</div>

<div class="row">
    <h2>TEXTES</h2>

    <h3>texte zone 1</h3>
    <p>{{ texteHeader.texte }}</p>

    <h3>texte zone 2</h3>
    <p>{{ texteInformations_1.texte }}</p>

    <h3>texte zone 3</h3>
    <p>{{ texteInformations_2.texte }}</p>

    <h3>texte zone 4</h3>
    <p>{{ texteInformations_3.texte }}</p>

    <h3>texte zone 5</h3>
    <p>{{ texteLangages.texte }}</p>

    <h3>texte zone 6</h3>
    <p>{{ texteCurriculum_vitae.texte }}</p>

    <h3>texte zone 7</h3>
    <p>{{ texteRealisations.texte }}</p>

    <h3>texte zone 8</h3>
    <p>{{ texteCompetences.texte }}</p>

    <h3>texte zone 9</h3>
    <p>{{ texteTemoignages.texte }}</p>

    <h3>texte zone 10</h3>
    <p>{{ texteMe_contacter.texte }}</p>

</div>

<div class="row">
    <h2>REALISATIONS</h2>
    {% for realisation in realisations %}

    <p>{{ realisation.titre }}</p>
    <p>{{ realisation.description }}</p>
    <p>{{ realisation.image }}</p>
    <p>{{ realisation.categorie }}</p>

    {% endfor %}
</div>


{% endblock %}